body {
    text-align: center; /* centers inline-block elements */
    font-family: 'Times New Roman', Times, serif;
    color: #124170;
    font-size: large;
}



.div_1 {
    display: inline-block;
    width: 500px;
    height: 100px;
    padding:40px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: #67c0903b ;
    margin: 50px auto; /* ✅ fixed */
}

form {
    display: inline-block;
    margin: auto;

}
input {
   border: 1px;
  border-radius: 23px;
  border-color: #124170;
}
 

