<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\E\FullStack\2_mid\static\css.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1 style="text-align: center;"><b>Registration Form</b></h1>
    </header>
    <form>
        <!-- 1st div -->
        <div>
            <label class="form-label">Name : </label>
            <input type="name" >
            <br>
            <label for="exampleInputEmail1" class="form-label">Email : </label>
            <input type="email" >
        </div>

        <!-- 2nd div -->
        <div>

        </div>

        <!-- 3rd div -->
        <div>
            <button type="submit">Submit Form</button>
        </div>
    </form>

</body>

</html>