.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    grid-template-areas:
        "box1 box2 box3 "
        "box4 box5 box6"
        "box7 box8 box9"
        ;
    height:100px ;
}

.container>div {
    background: rgb(124, 169, 130);;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 8px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.box8 {
    grid-area: box8;
}

.box9 {
    grid-area: box9;
}